body {
    background-color: black;
}

h1 {
    color: white;
    position: relative;
    text-align: center;
    font-size: 240%;
    font-family: "Dancing Script", cursive;
}

h2 {
    display: flex; 
    justify-content: center; 
    background-color: black; 
    padding: 1%; 
    color: white; 
    font-family: "Oswald", sans-serif;
}

header {
    top: 7vh; 
    height: 15vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 4px; 
    color: white; 
    width: 100%; 
    box-sizing: border-box; 
    background-color: black; 
}


table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}